

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.img-small {
    width: 20px;
    height: 20px;
}

.img-medium {
    width: 64px;
    height: 64px;
}
















