<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Encoding" value="UTF-8" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%p] %c - %m%n" />            
        </layout>
    </appender>

    <logger name="fr.ippon">
       <level value="DEBUG"/>
    </logger>

    <root>
        <level value="DEBUG" />
        <appender-ref ref="CONSOLE" />
    </root>

</log4j:configuration>